<!DOCTYPE html>
<html lang="en">

<head>
 {{>links}}
</head>

<body>
{{>navbar}}
  <!-- main header -->
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left -->
          <div class="col-md-6 col-12 main_header_right align-items-center">
            <figure>
                <img src="img/about-removebg-preview.png" alt="about" class="img-fluid" title="Forecast">
            </figure>
        </div>
        <!-- right  -->
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to weather forecast</p>
            <h1>I am <span> Node.js </span> Developer</h1>
            <a href="https://www.linkedin.com/in/dishang-undhad-88855a21a/"><button>About me</button></a>
          </div>
         </div>
      </div>
    </div>
  </div>
<!-- footer -->
 {{>footer}}
</body>
</html>